<h1>Editing Mining Type</h1>

<%= render "shared/menu" %>

<%= render 'form', mining_type: @mining_type %>

<%= link_to t('link.show'), @mining_type %> |
<%= link_to t('link.back'), mining_types_path %>
